@charset "UTF-8";

// font-family
$base-font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, sans-serif;


// font-size
$base-font-size: 14px;
$base-line-height: 1.6;


// color
$base-font-color: #212121;
$base-link-color: #212121;


// contents max width
$contents-max-width: 980px;


// bg-color
$bg-color: #eee;


// transition-timing
$transition-timing: 1s;